* {
	box-sizing: border-box;
	font-size: 16px;
}
img {
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
body {
	background: #191a19;
	margin: 0px;
}
select, button, input {
	outline: none;
	cursor: pointer;
}