$primary: #1a1b1c;
$secondary: #FCF55F;
$text: #f1f1f1;
$cell: rgba(255, 255, 255, 0.1);
$shadow: 1px 1px 1px #000;
$visited: rgba(255, 255, 255, 0.2);
$explored: rgba(255, 255, 255, 0.4);
$src: hsl(83, 91, 55);
$dest: hsl(350, 91, 55);

.graph-container {
	display: flex;
	flex-direction: column;
	font-family: "Segoe UI";
	.options,
	.dropdown,
	.stats,
	.buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
	.options {
		margin: 0px;
		gap: 1rem;
		color: $text;
		height: 100px;
		.dropdown {
			select {
				padding: 0.25rem 0.75rem;
				border-radius: 5px;
				border: 0px;
				border-bottom: 3px solid $secondary;
				background: transparent;
				color: $text;
				option {
					color: $primary;
				}
			}
		}
		.buttons {
			button {
				background: $secondary;
				border: 0px;
				transition: 0.3s all ease;
				border-radius: 9999px;
				box-shadow: 0px 0px 10px $secondary;
				box-shadow: 0px 0px 10px $secondary;
				padding: 0.25rem 0.75rem;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
		.stats {
			flex-direction: column;
			gap: 0.5rem;
			p {
				margin: 0px;
				span {
					background: $secondary;
					padding: 0.125rem 0.25rem;
					border-radius: 5px;
					color: $primary;
				}
			}
		}
	}
	.graph {
		width: 100%;
		border-top: 1px solid $text;
		border-bottom: 1px solid $text;
		overflow: hidden;
		.row {
			display: flex;
			.cell {
				display: flex;
				justify-content: center;
				align-items: center;
				background: $cell;
				transition: 0.3s all ease;
				border-radius: 1px;
				box-shadow: $shadow;
				transform: scale(0.9);
				&:last-child {
					border-right: 0px;
				}
				&:hover {
					transform: scale(1.1);
				}
			}
			.visited {
				background: $visited;
			}
			.explored {
				background: $explored;
			}
			.obstacle {
				background: url("../images/wall.png");
				transform: scale(0.75);
			}
			.path {
				background: $primary;
				border: 1px solid $text;
			}
			.src {
				background: $src;
				opacity: 0.7;
			}
			.src-visited {
				border: 0px;
				opacity: 1;
			}
			.dest {
				background: $dest;
				opacity: 0.7;
			}
			.dest-visited {
				opacity: 1;
			}
			&:last-child {
				.cell {
					border-bottom: 0px;
				}
			}
		}
	}
	@media (min-width: 0px) and (max-width: 868px) {
		.options {
			padding: 1rem 0px;
			flex-direction: column;
			height: 140px;
			* {
				font-size: 0.8rem;
			}
			p {
				padding: 0px;
				margin: 0px;
			}
			.stats {
				flex-direction: row;
			}
		}
	}
}