.graph-container {
	display: flex;
	flex-direction: column;
	font-family: "Segoe UI";
	.options,
	.dropdown,
	.buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
	.options {
		margin: 0px;
		gap: 1rem;
		color: white;
		height: 100px;
		.buttons {
			button {
				background: yellow;
				border: 0px;
				transition: 0.3s all ease;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
	.graph {
		width: 100%;
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		.row {
			display: flex;
			.cell {
				border: 1px solid rgba(255, 255, 255, 0.2);
				border-width: 0px 1px 1px 0px;
				background: rgba(255, 255, 255, 0.1);
				transition: 0.1s all ease;
				border-radius: 5px;
				&:last-child {
					border-right: 0px;
				}
				&:hover {
					background: rgba(255, 255, 255, 0.3);
				}
			}
			.visited {
				background: rgba(255, 255, 255, 0.3);
			}
			.explored {
				background: rgba(255, 255, 255, 0.4);
			}
			.obstacle {
				background: hsl(29, 91, 23);
			}
			.path {
				background: rgb(0, 0, 0);
			}
			.src {
				background: hsla(83, 91, 55, 0.7);
			}
			.src-visited {
				background: hsl(83, 91, 55) !important;
			}
			.dest {
				background: hsla(350, 91, 55, 0.7);
			}
			.dest-visited {
				background: hsl(350, 91, 55) !important;
			}
			&:last-child {
				.cell {
					border-bottom: 0px;
				}
			}
		}
	}
	@media (min-width: 0px) and (max-width: 668px) {
		.options {
			padding: 1rem 0px;
			flex-direction: column;
			height: 130px;
			p {
				padding: 0px;
				margin: 0px;
			}
		}
	}
}